<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldcc.pliss.deliveryadvisor">

    <!--작업 목록 CSV 파일을 읽어오기 위한 퍼미션-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--전화를 위한 퍼미션-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <!--문자 전송을 위한 퍼미션-->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!--상세한 위치 권한-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--블루투스 사용을 위한 퍼미션-->
    <!--https://developer.android.com/guide/topics/media-apps/mediabuttons.html-->
    <!--https://stackoverflow.com/questions/38289086/receive-callback-on-all-android-media-button-events-all-the-time-even-when-anot-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <uses-feature android:name="android.hardware.bluetooth_le" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--음성 녹음 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />



    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>



    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="97655c151395785cc8a880e848ee3952" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCTymPSDZWsSbgcZIGfCmhTf-7s0Nd_f0M"/>

        <activity   android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:priority="10" >
                <action android:name="android.intent.action.VOICE_COMMAND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--앱 최초 실행, 또는 초기화시 진입하는 가이드 화면-->
        <activity android:name=".page.HomeActivity"></activity>
        <activity android:name=".page.ExplanationActivity"></activity>

        <!--앱 화면 등록-->
        <activity android:name=".page.LogActivity"></activity>
        <activity android:name=".page.NavigationActivity"></activity>
        <activity android:name=".page.SettingActivity"></activity>
        <activity android:name=".page.SignInActivity"></activity>

        <!--어드바이저 화면 등록-->
        <activity
            android:name=".advisor.AdvisorDialog"
            android:theme="@android:style/Theme.Dialog">
        </activity>


        <receiver android:name=".advisor.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service android:name=".advisor.AdvisorService"
            android:enabled="true"
            android:exported="true">
        </service>

        <service android:name=".advisor.google.SpeechService"/>

    </application>

</manifest>